<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h1>Midway <small>Server Console</small></h1>
        <ol class="breadcrumb">
    		<li class="active"> Dashboard</li>
		</ol>
        <div class = "panel panel-primary">
            <div class = "panel-heading">Server Info</div>         
            <div class = "panel-body">Public IP: 123.456.789 Static | Endpoint: MidwayServer/jetfire</div>
         </div>
         
    </div>
</div>
<div class="row">
    <div class="col-md-3"><button type="button" class="btn btn-primary btn-lg">Server Properties</button></div>
    <div class="col-md-3"><button type="button" class="btn btn-primary btn-lg">Edit Server URL</button></div>
</div>
</div>                       

